{% extends 'base.html' %}
{% block title %}Redirecting to Quote Request | Gingies Home Solutions{% endblock %}
{% block description %}Redirecting to the quote request section on the Gingies Home Solutions homepage.{% endblock %}
{% block head %}<meta http-equiv="refresh" content="0; url={{ url_for('index') }}#quote">{% endblock %}
{% block header %}{% endblock %}
{% block content %}<p>Redirecting to <a href="{{ url_for('index') }}#quote">request a quote</a>...</p>{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}<script>window.location.replace({{ (url_for('index') ~ '#quote')|tojson }});</script>{% endblock %}
